.media {
    list-style: none;
    .item {
        &:hover{
            background-color: $selected;
        }
        &:last-of-type{
            border:none;
        }
        border-bottom: dotted;
        margin-bottom: 20px;
        padding:10px;
        img {
            border-color: $red;
            border-style: solid;
        }
        a {
            color: $yellow;
            text-decoration: none;
        }
        .head {
            font-size: 2rem;
            #typography &{
                color:blue;
            }
        }
    }
}
