html {
    font-size: 62.5%;
}

$colors-array : blue,orange,yellow,green,silver,purple,red,khaki,brown;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $roboto-font;
    // color: $red;
}
@for $i from 1 through length($colors-array){
    h#{$i} {
        color : nth($colors-array,$i);
        // @debug #{nth($colors-array,$i)};
    }
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: "Helvetica", sans-serif;
    color: $color-body;
    background-color: $color-body-background;
    font-family: $josefin-font;
}

.container {
    width: 80%;
    margin: 0 auto;
}
