@mixin backgroundImage($image,$height:100vh,$pos: center center){
    background-image: url($image);
    height: $height;
    background-position: $pos;
}

@mixin imageGrid($cols){
    width: 100% / $cols;
}

@mixin minWidth($pixels){
    @media(min-width: $pixels){
        @content;
    }
}