@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Roboto:wght@300&display=swap");

$offwhite: #ffffff;
$darkblue: #022933;
$red: #dd2d2d;
$yellow: yellow;
$selected: #13265a;
$color-body: $offwhite;
$color-body-background: $darkblue;
$josefin-font: "Josefin Sans", sans-serif;
$roboto-font: Roboto, sans-serif;
