@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Roboto:wght@300&display=swap');

 $offwhite: #ffffff;
 $darkblue: #022933;
 $red: #dd2d2d;

 $color-body:$offwhite;
 $color-body-background:$darkblue;
 $josefin-font:  'Josefin Sans', sans-serif;
 $roboto-font: 'Roboto', sans-serif;
 html {
  font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
  font-family: $roboto-font;
  color:$red;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: 'Helvetica', sans-serif;
  color: $color-body;
  background-color: $color-body-background;
  font-family: $josefin-font;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.media{
  list-style: none;
  .item{
    border-bottom: dotted;
    margin-bottom: 20px;
    img{
      border-color: red;
      border-style: solid;
    }
    a{
      color: yellow;
      text-decoration: none;
    }
    .head{
      font-size:2rem
    }
  }
}