@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Roboto:wght@300&display=swap");
html {
  font-size: 62.5%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  color: #dd2d2d; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  background-color: #022933;
  font-family: "Josefin Sans", sans-serif; }

.container {
  width: 80%;
  margin: 0 auto; }

.media {
  list-style: none; }
  .media .item {
    border-bottom: dotted;
    margin-bottom: 20px;
    padding: 10px; }
    .media .item:hover {
      background-color: #13265a; }
    .media .item:last-of-type {
      border: none; }
    .media .item img {
      border-color: #dd2d2d;
      border-style: solid; }
    .media .item a {
      color: yellow;
      text-decoration: none; }
    .media .item .head {
      font-size: 2rem; }
      #typography .media .item .head {
        color: blue; }

.jumbotron {
  background-image: url("/images/bridge.jpg");
  height: 600px;
  background-position: top center; }
  .jumbotron h1 {
    color: yellow; }

.bridge {
  background-image: url("/images/bridge.jpg");
  height: 300px;
  background-position: center bottom; }
  .bridge h1 {
    color: aqua;
    width: 100%; }

.default, .cool, .hot {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.default {
  background-color: #af5c2c;
  /* Green */ }

.cool {
  background-color: #4CAF50;
  /* Green */ }

.hot {
  background-color: #af4c65;
  /* Green */ }

.grid .item {
  width: 33.33333%;
  float: left; }

.grid img {
  border-radius: 20px;
  max-width: 100%;
  display: block; }

table {
  width: 100%;
  font-family: sans-serif; }
  table > thead {
    background-color: black; }
  table > tbody > tr:nth-child(even) {
    background: #cfafaf; }
  table > tbody > tr:hover {
    background-color: #e96262; }
  table > tbody > tr > td,
  table > tbody > tr > th {
    padding: 10px;
    border-bottom: solid;
    border-color: black; }
